<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/layui-v2.2.5/layui/css/layui.css}">
</head>
<body>
<form id="updateform" >
	<input type="hidden" name="id" th:value="${b.id}" />
	<table class="layui-table">
		<tr >		
			<td>名称</td>
			<td><input type="text"  name="name"  th:value="${b.name}"></td>
		</tr>
		<tr>			
			<td>价格</td>
			<td><input type="text" th:value="${b.price}" name="price"></td>
		</tr>
		<tr>
			<td>作者</td>
			<td><input type="text" th:value="${b.author}" name="author"></td>
		</tr>	
		<tr>
			<td>图片</td>
			<td><input type="file" name="file"></td>
		</tr>
		<tr>
			<td>库存</td>
			<td><input type="text" th:value="${b.number}" name="number"></td>
		</tr>
		<tr>
			<td>出版时间</td>
			<td><input type="date" th:value="${b.publishDate}" name="publishDate"></td>
		</tr>
		<tr>
			<td colspan="6" align="center"><button type="button" id="but2" class="layui-btn" onclick="upd();">提交</button></td>
		</tr>
	</table>
</form>

</body>
 <script th:src="@{/jquery/jquery-3.3.1.min.js}" ></script>
 <script th:src="@{/layui-v2.2.5/layui/layui.all.js}"></script>
 <script type="text/javascript">
 		function upd(){

 		var formData = new FormData(document.getElementById('updateform'));
 		//$('but1').click(function(){

 			$.ajax({
 				url:'/book/update',
 				data:formData,//$(#myform).serialize(),
 				type:'post',
 			//	asyn:true,
 				processData:false,
		        contentType:false,
 				success:function(res){
 					console.info(res);
 				}
 				});
 				
 		}
 		//})
 	
 
 
 
 </script>
</html>